.App {
  padding: 0;
  background: #3CA498;
  width: 100%;
  height: 100vh;
  display: flex;
    justify-content: center;
    align-items: center;
}
.Box {
  width: 900px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.Box,
.BoxTransparent {
  position: absolute;
  height: 500px;
  max-width: calc(100% - 30px);
}
.BoxTransparent {
  width: 1200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
}
.Heading {
  font-size: 100px;
  font-weight: 700;
}
.Description {
  font-size: 50px;
  font-weight: 700;
}
.Button {
  text-align: center;
  background-color: #2196F3;
  color: #fff;
  padding: 20px 40px;
  border: none;
  width: 200px;
  font-size: 26px;
  font-weight: 700;
  border-radius: 4px;
  margin-top: 50px;
  cursor: pointer;
}
.Button:focus {
  outline: none;
  box-shadow: none;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.Button:hover,
.show > .btn-secondary.dropdown-toggle {
  background-color: #054862;
}
.Box {
  width: 1100px;
  height: 550px;
  background-color: #fff;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.28);
  padding: 20px 40px;
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProgressBar {
  width: 245px;
  background-color: #2196F3;
  height: 10px;
  border-radius: 999px;
}
.ProgressBar:before {
  content: "";
  width: 350px;
  position: absolute;
  height: 10px;
  border-radius: 999px;
  background-color: #eff3f4;
  z-index: -1;
}
.Percent {
  position: absolute;
  left: 400px;
  top: 23px;
  font-size: 14px;
}
.RightSide {
  width: 50px;
    height: 30px;
    background-color: #2196F3;
    border-radius: 5px;
    text-align: center;
}
.CurrentQuestion {
  line-height: 30px;
  color: #fff;
}
.Body {
  margin-top: 30px;
}
.Question {
  width: 96%;  
  padding: 20px; 
  color: #fff;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.69);
  border-radius: 12px;
}
.Answer {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  cursor: pointer;
}
.Answer:hover {
  background: #00bcd436;
}
.Answer:first-child {
  margin-top: 10px;
}
.Answer:last-child {
  border-bottom: none;
}
.AnswerIndex {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  text-align: center;
  line-height: 40px;
  margin-right: 20px;
  border: 1px solid #e0e0e0;
}
.Answer.false .AnswerIndex {
  background-color: #ff615a;
  color: #fff;
  border: 1px solid transparent;
}
.Answer.true .AnswerIndex {
  background-color: #00c604;
  color: black;
  border: 1px solid transparent;
}
.ButtonSmall {
  font-size: 16px;
  padding: 10px 16px;
  margin: 0;
  width: auto;
  float: right;
}
.score{
  display: inline-block;
    font-size: 17px;
    color: #ffffff;
    background: #2196F3;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
}
.result{
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
    padding: 55px;
    background: #4caf50c7;
    border-radius: 45px;
}
.playReload{
  margin-top: 30px;
    padding: 15px;
    background: #607D8B;
    border-radius: 50px;
    font-weight: 600;
    color: wheat;
    cursor: pointer;
}
.WrongAnswer{
  margin-left: 25px;
    padding: 9px;
    background: #ff615a;
    color: black;
    font-weight: 400;
    border-radius: 8px;
}